@model ActivityModel
@{
    ViewData["Title"] = "Create Course Page";
}

<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Crea tu curso</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Paso 2</div>
                            <div class="h2 fw-bolder">Facil y sencillo.</div>
                            <p>El siguiente paso es crear cuantas actividades quieras. Recuerda que se basan en preguntas y respuestas, sin embargo puedes dar instrucciones a lo que usted quiera!</p>
                            <a class="stretched-link text-decoration-none" href="#Campos">
                                Comienza a crear
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/direct/1597678311691-Explicit%20Knowledge.jpg')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Campos">
    <h1 class="fw-bolder fs-5 mb-4" style="text-align:center">Llena los siguientes campos requeridos</h1>
    <div class="card" style="width:65%; margin:auto; margin-bottom:5vh">
        <div class="card-body">
            <form asp-action="CrearActivity" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="NameCourse">ID del Curso que es parte: </label>
                    <input asp-for="IdLecture" type="text" class="form-control" id="txtNameCourse" readonly>
                </div>
                <div class="form-group">
                    <label for="NameCourse">Nombre de la Actividad:</label>
                    <input asp-for="NameActivity" type="text" class="form-control" id="txtNameActivity">
                </div>
                <div class="form-group">
                    <label for="NameCourse">Instrucciones para el Alumno:</label>
                    <input asp-for="Instructions" type="text" class="form-control" id="txtInstrucciones">
                </div>
                <button type="submit" class="btn btn-primary">Crear Actividad</button>
            </form>
        </div>
    </div>
</section>
