@model CourseModel
@using Ensenable.Datos;
@{
    ViewData["Title"] = "Edit Course Details Page";
}

<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Desarrollo Del Curso</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Paso 1</div>
                            <div class="h2 fw-bolder">Cambia Los detalles generales de tu curso.</div>
                            <p>Aqui puedes cambiar el nombre, la descripcion y el autor del curso. <b>¿Cual es el siguiente paso?</b></p>
                            <a asp-action="ListLectures" class="btn btn-primary" asp-controller="Home" asp-route-IdCourse="@Model.IdCourse">Agregar/Editar Lecture</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/direct/1597678311691-Explicit%20Knowledge.jpg')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Campos">
    <h1 class="fw-bolder fs-5 mb-4" style="text-align:center">Actualice la informacion sobre su curso</h1>
    <div class="card" style="width:65%; margin:auto;margin-bottom:10vh">
        <div class="card-body" >
            <form asp-action="EditarDetallesCurso" asp-controller="Home" method="post">
                <div class="form-group">
                    <label for="NameCourse">ID del Curso:</label>
                    <input asp-for="IdCourse" type="text" class="form-control" id="txtIdCourse" readonly>
                </div>
                <div class="form-group">
                    <label for="NameCourse">Fecha Publicacion:</label>
                    <input asp-for="ReleaseDate" type="text" class="form-control" id="txtIdCourse" readonly>
                    </div>
                <div class="form-group">
                    <label for="NameCourse">Esta Publicado?:</label>
                    <input asp-for="IsPublished" type="text" class="form-control" id="txtIdCourse" readonly>
                </div>
                <div class="form-group">
                    <label for="NameCourse">Nombre del Curso:</label>
                    <input asp-for="NameCourse" type="text" class="form-control" id="txtNameCourse">
                </div>
                <div class="form-group">
                    <label for="NameCourse">Nombre del Sujeto :</label>
                    <input asp-for="Subject" type="text" class="form-control" id="txtSubject">
                </div>
                <div class="form-group">
                    <label for="NameCourse">Descripcion Breve del Curso:</label>
                    <input asp-for="Description" type="text" class="form-control" id="txtDescription">
                </div>
                @{
                    UsersDatos usersDatos = new UsersDatos();
                    var oUser = usersDatos.Obtener(ViewBag.Session);
                }
                <div class="form-group">
                    <label asp-for="Author">Autor del Curso:</label>
                    <input asp-for="Author" type="text" class="form-control" id="txtAuthor" value="@oUser.user_name @oUser.user_firstlastname" readonly required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>
    </div>
</section>