@using Ensenable.Datos;
@{
    ViewData["Title"] = "ERROR";
}

<section class="container" style="height:83.7vh">
    <h1>@ViewData["Title"]</h1>

    <p>Ocurrio un error procesando su solicitud. Regresar al <a class="link-success" href="../">inicio</a></p>
</section>