@{
    ViewData["Title"] = "Tutorial One Page";
}


<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <img class="img-fluid rounded-circle" src="~/images/a_sam.png" alt="..." />
                        <div class="ms-3">
                            <div class="fw-bold">Samuel Acosta</div>
                            <div class="text-muted">Ayuda</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Como estructurar un curso</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Septiembre 30, 2022</div>
                            <!-- Post categories-->
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Tutorial</div>
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Contenido</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="~/images/t_createCourse.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5">Es algo muy simple</h2>
                            <p class="fs-5 mb-4">
                                Cuando creas un curso, piensa en quien lo va aprovechar, es una buena idea pensar en quienes necesitan de tu conocimiento.
                                Crear un curso no tiene que ser dificil, esta plataforma hace su mejor esfuerzo para hacerlo sencillamente y se puede dividir en 4 partes:
                            </p>
                            <ul>
                                <li class="fs-5 mb-4">Visualizar y Estructurar tu curso</li>
                                <li class="fs-5 mb-4">Crear esqueleto del Curso</li>
                                <li class="fs-5 mb-4">Agregar Actividades y Lecciones</li>
                                <li class="fs-5 mb-4">Crear esqueleto del Curso</li>
                            </ul>
                            <p class="fs-5 mb-4">
                                En este tutorial nos enfocaremos en como visualizar, Estructurar y crear esqueleto de un curso.
                                Es importante que sigas los pasos al pie de la letra, cualquier discrepancia puede resultar en algun efecto secundario no deseado.
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">Visualizar y Estructurar tu curso</h2>
                            <p class="fs-5 mb-4">
                                Nuestra plataforma se basa en un sistema de quizzes, esto es algo que uno debe tener en mente a la hora de visualizar un curso. La manera en que se llevan a cabo estos cursos
                                son de manera lineal, es decir en un orden cronologico.
                                Nuestra primera Recomendacion es que escribas el proposito del curso (despues lo vas a ocupar). una ves que se defina bien el proposito del curso, nuestra siguiente recomendacion es
                                realizar una lista de temas que creas necesario tocar (Es importante recordar que no siempre mas es mejor).
                                Cada tema tiene que ir ligado a un quiz que contiene cualquier cantidad de preguntas y 4 respuestas de opcion multiple.
                                Con esto en mente, ya estas listo para el siguiente paso.
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">Crear Esqueleto del Curso</h2>
                            <p class="fs-5 mb-4">
                                Crear esqueleto es muy sencillo. Simplemente vas a la pagina principal (Si no sabes donde es, haz click en el logo de IEPAM y te lleva).
                                Una ves en la pagina principal, haz click en crear curso. Lo unico que tienes que hacer es llenar los campos y al darle crear curso, puedes empezar a agregarle contenido!
                            </p>
                            <div class="container" style="padding-bottom: 1rem">
                                <div class="row">
                                    <div class="col text-center">
                                        <a class="btn btn-primary" href="/">Regresar A la pagina principal</a>
                                    </div>
                                    <div class="col text-center">
                                        <a class="btn btn-primary" href="Tutorial2">Siguiente Paso</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>

    </section>

    
</main>